<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Transaction.master.cs" Inherits="KpopUG.Transaction.Transaction" %>

<!DOCTYPE html>

<html>

    <head runat="server">
        
    </head>

    <body>
        <form id="form1" runat="server">
            <div>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </form>
</body>
</html>
